html, body {
  height: 100%;
}

body {
  margin: 0px;
}

#page {
  width: 50%;
  height: 99%;
  background-color:  whitesmoke;
  outline: 0px;
  resize: none;
  border: 0px;
  padding: 0px;
}

#visual {
  width: 50%;
  height: 100%;
  float: right;
}

svg {
}
