html, body {
  height: 100%;
}

body {
  margin: 0px;
}

#page {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50%;
  height: 100%;
  background-color:  whitesmoke;
  outline: 0px;
  resize: none;
  border: 0px;
  padding: 0px;
}

#resolved {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50%;
  height: 50%;
  float: right;
  background-color: lightgrey;
}

#visual {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 50%;
  height: 50%;
  float: right;
}

svg {
}
